/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  height: 105%;
}
body {
  background: linear-gradient(176deg, rgba(245,246,240,1) 0%, rgba(198,205,193,1) 40%, rgba(99,161,95,1) 100%);
  text-align: center;
  width: 100vw;
  min-height: 95%;
  font-family: BioRhyme;
  color: #44403F;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}
.box {
  margin: 0 auto;
  margin-top: 1.5%;
  border: 2px solid #44403F;
  border-radius: 15px;
  width: 30%;
  height: auto;
  box-shadow: 10px 10px 10px black;
  background: linear-gradient(176deg, rgba(245,246,240,1) 0%, rgba(198,205,193,1) 40%, rgba(99,161,95,1) 100%);
}
.logo img {
  margin: 0 auto;
  margin-top: 8%;
  width: 80%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #63A15F;
}
.login-form {
  font-size: 1.2rem;
}
.login-form label {
  display: block;
  padding-bottom: 1rem;
}
.login-form input {
  margin-bottom: 1rem;
}
.submit button {
  margin-bottom: 1rem;
}
.submit a {
  display: block;
  padding-bottom: 1rem;
}
.log-in {
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: #44403F;
}
a:hover {
  color: white;
  transition: .5s;
}

/******************************************
/* LAYOUT
/*******************************************/
footer a {
  text-decoration: none;
  color: #44403F;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 1024px) {
  .box {
    margin-top: 0%;
    width: 100%;
    height: auto;
    border-style: none;
    box-shadow: none;
    background: none;
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
}