/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html,
body {
  height: 100%;
  margin: 0px;
  font-size: 110%;
}
.container {
  height: 100%;

  display: flex;
}

.top,
.bottom {
  display: flex;
}

a,
li {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

header,
nav,
ul {
  width: 100%;
  height: 7rem;
  padding: 0;
  margin: 0;
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.logoLi {
  width: 100%;
  height: 7rem;
}

a {
  color: white;
  text-decoration: none;
  justify-content: center;
}

.menuItem {
  font-weight: 300;
  letter-spacing: 2px;
  background: rgb(177, 208, 173);

  padding: 3rem 1%;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.menuA:hover {
  border: 1px solid white;
  border-radius: 1%;
  font-weight: bold;
  background: #63a15f;
  justify-content: center;
  font-size: 1.3rem;
  padding: 3%;
  margin-top: -0.5rem;
}

.menuItem:hover {
  background: #63a15f;
  color: #63a15f;
}

.logoLi {
  width: 100%;
  padding: 0 5%;
  background: white;
}

.logoA {
  width: 100%;
}

.logo {
  width: 100%;
  padding: 5%;
}

.logo:hover {
  width: 110%;
}

main.container {
  background-image: url("/img/pexels-cottonbro-5474031.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -10rem;
}

.hero {
  width: 100%;
  height: 55rem;
}

.cta {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  margin: 20% 25% 7.5% 25%;
  background: rgb(177, 208, 173, 0.3);
}

#js-rotating {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color: white;
}
